@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.d-flex {
  display: flex;
}

h2 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 4em;
  text-transform: uppercase;
}

.nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e0e0e0;
  border-radius: 5px;
  list-style-type: none;
  justify-content: center;
  z-index: 10;
  transition: top 0.3s;
}

.nav li {
  padding: 5px;
  margin: 3px;
  font-size: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: aqua;
  transition: 0.8s;
}

.nav li:hover {
  transform: scale(1.2);
  margin: 5px;
  transition: 0.8s;
  background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
}

.nav li a {
  text-decoration: none;
}

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  height: 100vh;
  background-attachment: fixed;
  clip-path: circle(100px at center);
}

section .box {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
}

section .box div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(25deg) translate3d(-75px, -50px, 150px);
}

section .box div span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ccc;
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(20px);
}

section .box div span video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0);
}

section .box div span:nth-child(1) {
  transform: rotateX(0deg) translate3d(0, 0, 200px);
}

section .box div span:nth-child(2) {
  transform: rotateY(90deg) translate3d(0, 0, -200px);
}

section .box div span:nth-child(2) video {
  transform: rotateY(180deg);
}

section .box div span:nth-child(3) {
  transform: rotateX(90deg) translate3d(0, 0, 200px);
}

.container1 {
  position: relative;
  margin-top: 300vh;
  background: #e0e0e0;
  padding: 50px 100px;
  width: 100%;
}

.container1 h3 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.container1 h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.container1 h5 {
  font-size: 1em;
  margin-bottom: 20px;
}

.title {
  position: absolute;
  top: 250px;
  z-index: 1;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #30ff00);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  width: 2%;
  border-radius: 10px;
  background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
}

#contact {
  justify-content: center;
  margin-bottom: 60px;
}

#contact form {
  flex-direction: column;
}

#contact ul {
  list-style: none;
}

#contact ul li {
  margin: 10px;
}

#contact ul li textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
}
#contact ul li input {
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

#contact form ul li input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #979493;
  opacity: 1; /* Firefox */
  padding: 10px;
}

#contact form ul li input::-ms-input-placeholder { /* Microsoft Edge */
  color: #979493;
}

#contact form ul li input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #979493;
}

#contact form ul li textarea {
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 150px;
  background: #fbf8f7;
}

#contact form ul li textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3c3a39;
  opacity: 1; /* Firefox */
  font-family: sans-serif;
  padding: 10px;
}

#contact form ul li textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: #3c3a39;
}

#contact form ul li textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #3c3a39;
}


#contact form button {
  width: 150px;
  align-self: center;
  background-color: aqua;
  transition: 0.8s;
  border-radius: 5px;
}

#contact form button:hover {
  background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
  transform: scale(1.3);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.container {
  width: 400px;
  perspective: 1000px;
}

.cube {
  margin: auto;
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 2s ease;
}

.cube:hover {
  transform: rotateX(180deg) rotateY(720deg);
}

.side {
  position: absolute;
  width: 200px;
  height: 200px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

.side.back {
  transform: translateZ(-100px) rotateX(180deg);
}

.side.left {
  transform: translateX(-100px) rotateY(-90deg);
}

.side.right {
  transform: translateX(100px) rotateY(90deg);
  transform: translateY(-100px) rotateX(90deg);
}

.side.front {
  transform: translateZ(100px);
}

.side.bottom {
  transform: translateY(100px) rotateX(90deg);
}

.side .icon {
  margin: 30% auto;
  vertical-align: middle;
  font-size: 40px;
}

.side img {
  margin: 30% auto;
  vertical-align: middle;
  height: 60px;
}

.side.grey {
  color: #777;
  background-color: white;
}

.side.black {
  color: white;
  background-color: #f00;
}

.side.twitter {
  color: white;
  background-color: #0084b4;
}

.side.facebook {
  color: white;
  background-color: #3b5998;
}

.side.apply {
  color: white;
  background: #f00;
}

.side.home {
  color: white;
  background: #80ff00;
}

.side.pathway {
  color: white;
  background: #ffc400;
}

.container1 #contact {
  height: 40vh;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/* css for manual slide navigator */

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3DC;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for automatic navigation */

.navigation-auto {
  position:absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px
}

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40D3DC;
}

@media (max-width: 786px) {
  h2 {
    font-size: 40px;
  }

  #about h3 {
    font-size: 30px;
  }

  .container1 {
    padding: 10px 10px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
  }

  .container {
    padding: 10px;
  }
 
}